.animais{

    .description-animals{
        grid-column: 3;
        
        section{
            margin-bottom: 3rem;
        }
    }
    h2{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-bottom: 1rem;
        color: #e54;
    }
    h2::before{
        content: '';
        display: inline-block;
        width: 40px;
        height: 10px;
        margin-right: 10px;
        background: var(--first-color);
    }
    
    p{
        font-family: Helvetica, arial , sans-serif;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    .animais-lista{
        height: 370px;
        overflow-y: scroll;
        grid-column: 2;
    }
    .animais-lista li{
        cursor: pointer;
    }

    .animais-lista::-webkit-scrollbar{
        width: 18px;
    }
    
    .animais-lista::-webkit-scrollbar-thumb{
        background: var(--first-color);
        border-right: 4px solid var(--body-color);
        border-left:  4px solid var(--body-color);
    }
}

.js .js-tabcontent section{
    display: none;
}

.js .js-tabcontent section.active{
    display: block !important;
    animation: show .5s forwards;
}

@keyframes show {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0px, 0, 0);
    }
  }