.faq{

    .faq-lista{
        grid-column: 2 / 4;

        dt{
            font-family: 'IBM Plex Mono', monospace;
            font-weight: bold;
            margin-top: 2rem;
            margin-bottom: .5rem;
            color: #E54;
            cursor: pointer;
        }

        dt::before{
            content: '';
            display: inline-block;
            width: 20px;
            height: 10px;
            margin-right: 10px;
            background: var(--first-color);
        }

        dd{
            font-family: helvetica, arial;
            margin-bottom: .5rem;
            margin-left: 30px;
        }
    }
}

.js .js-accordion dd{
 display: none;
}

.js-accordion dt::after{
    content: '⮯';
    margin-left: 10px;
}

.js-accordion dd.ativo{
    display: block;
    animation: slideDown .5s forwards;
}

.js-accordion dt.ativo::after{
    content: '⮭';
}

@keyframes slideDown{
    from{
        opacity: 0;
        max-height: 0;
    }
    to{
        opacity: 1;
        max-height: 100px;
    }
}